body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #86592d;
}

.jumbotron {
	text-align: center;
}

.panel-body {
	min-width: 80vw;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
